<div class="owl-slider">
  <div class="owl-slider__inner">
    <div class="owl-carousel">
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
      <div class="owl-slider__item">
        <div class="owl-slider__img-wrap">
          <img src="http://placehold.it/154x104" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>

