.owl-slider
  padding 20px 0 18px
  overflow: hidden
  &__inner
    margin-left: -7px
    margin-right: -70px
  &__item
    padding-left: 7px
    padding-bottom: 2px;
  &__img-wrap
    border 1px solid #e3ded3
    padding: 5px
    border-radius: 4px
    background #fff
    text-align: center
    box-shadow 0 1px 1px 0 rgba(#000,.2)
    vam-ps()
    img
      max-width 100%
      height auto
      vam()

  .owl-prev
    display: none
  .owl-next
    position: absolute
    top: calc(50% - 14px)
    width: 29px
    height: 29px
    border-radius: 50%
    background linear-gradient(to top, #dd9147, #faa75a)
    right: 90px
    tro()
    &:hover
      opacity: .75
    &:before
      hv()
      right: 5px
      width: 10px
      height: 10px
      border-top 2px solid #fff
      border-left 2px solid #fff
      transform-origin: center
      transform rotate(135deg)
  .owl-stage-outer
    -webkit-mask:-webkit-linear-gradient(0deg, #000 82%, transparent 100%);

@media screen and (max-width: 800px)
  .owl-slider
    padding: 11px 0 18px;

@media screen and (max-width: 740px)
  .owl-slider
    padding: 15px
    background #fff
    margin-bottom: 10px
    box-shadow 0 1px 1px 0 rgba(#000,.2)
    border-bottom: 1px solid #e3ded3;
    &__img-wrap
      border 0
      box-shadow none
    &__inner
      margin-right: -120px
    .owl-next
      right: 130px;
    .owl-stage-outer
      -webkit-mask none
@media screen and (max-width: 600px)
  .owl-slider
    &__inner
      margin-right: -250px
    &__item
      padding-left: 1px;
    .owl-next
      display: none
