.l-steps
  text-align: center
  font-size: 0
  counter-reset steps
  margin-bottom: 49px
  margin-top: 50px
  padding: 0;
  &__item
    vam()
    width: 40px
    height: 40px
    border 3px solid #d9ceb6
    border-radius: 50%
    line-height: 34px
    background #fff
    counter-increment steps
    position: relative
    &:before
      font-weight: 600
      font-size: 18px
      color #999999
      content '' counter(steps) ''
      display: block
      width: 34px
    &:not(:first-child)
      margin-left: 80px
      &:after
        width 70px
        right 42px
        v()
        height: 3px
        background-position -1px 0px
        background-image url(../assets/images/bgborder.png)
    &._active
      border-color #ed9b54
      &:before
        color #627368
      &:after
        background-image url(../assets/images/bgborderorange.png)
    &._done
      border 0
      background linear-gradient(to top, #de9148, #faa75a)
      &:before
        color #fff
        line-height: 40px
        width: 100%
      &:after
        background-image url(../assets/images/bgborderorange.png)

@media screen and (max-width: 540px)
  .l-steps
    margin-bottom: 30px;
    margin-top: 30px;
    &__item:not(:first-child)
      margin-left: 40px;
      &:after
        width: 27px;
