<div class="t-events__wrap">
<table class="t-events">

  <thead class="t-events__thead">
    <tr>
      <th class="t-events__th">Due Date</th>
      <th class="t-events__th">Title</th>
      <th class="t-events__th">Co-Ordinator</th>
      <th class="t-events__th">Needed</th>
      <th class="t-events__th">Offered</th>
      <th class="t-events__th">Confirmed</th>
      <th class="t-events__th">Status</th>
      <th class="t-events__th">Action</th>
    </tr>
  </thead>

  <tbody class="t-events__tbody">

    <tr ng-repeat="n in [1,2,3,4,5,6,42, 43] track by $index">

      <td class="t-events__td">
        <time class="t-events__time">03.01.2016</time>
      </td>
      <td class="t-events__td">
        <a href="#" class="t-events__title">Need Minyan Drivers Early</a>
      </td>
      <td class="t-events__td">Alexander Test</td>
      <td class="t-events__td">4</td>
      <td class="t-events__td">3</td>
      <td class="t-events__td">2</td>
      <td class="t-events__td" ng-class="{'_closed': n%2}">{{n%2 ? 'Open' : 'Closed'}}</td>
      <td class="t-events__td">
        <a href="#" class="btn-edit">
          <svg focusable="false" version="1.1" class="svg-edit">
            <use xlink:href="#svg-edit"></use>
          </svg>
        </a>

        <a href="#" class="btn-close"></a>
      </td>

    </tr>

  </tbody>


</table>

</div>

