.t-events
  border 1px solid #e3ded3
  background #fff
  border-radius: 2px 2px 4px 4px
  width: 100%
  box-shadow 0 1px 1px 0 rgba(#000,.2)
  .btn-close
    margin-left: 13px

  &__wrap
    overflow-x auto
    margin-bottom: 30px
  &__th
    padding 18px 0
    color #9d9d9d
    white-space nowrap
    font-weight: 400
  &__td
    border-top 1px solid #e1e8ec
    padding 19px 0
  &__th
  &__td
    padding-left: 20px
    &:last-child
      width: 111px;
      white-space nowrap
      padding-right: 34px

  &__time
    color #e99851
  &__title
    color #0080d5

@media screen and (max-width: 740px)
  .t-events
    border-left 0
    border-right 0
    border-radius: 0
    &__wrap
      &+.btn-action
        margin-bottom: 30px
