<noindex style="overflow: hidden; position: absolute; width: 100%; height: 0; pointer-events: none;">
  <svg style="position: absolute;">

    <symbol id="svg-edit" viewBox="0 0 528.899 528.899">
      <path d="M328.883 89.125l107.59 107.59-272.34 272.34-107.53-107.59 272.28-272.34zm189.23-25.948l-47.98-47.98c-18.544-18.544-48.654-18.544-67.26 0l-45.96 45.96 107.59 107.59 53.61-53.61c14.382-14.384 14.382-37.578 0-51.96zM.3 512.69c-1.958 8.812 5.998 16.708 14.81 14.565l119.892-29.07-107.53-107.588L.3 512.69z"/>
    </symbol>
    <symbol id="svg-enter" viewBox="0 0 13 17">
      <style>.svg-enter-shadow{fill:currentColor;}</style>
      <path class="svg-enter-shadow" d="M5 10H0V8.1L5 8V5h1v1h1v1h1v1h1v2H8v1H7v1H6v1H5v-3zm6-9H5v2h5l1 1v10l-1 1H5v2h6l2-2V3l-2-2z"/>
      <path d="M5 9H0V7.1L5 7V4h1v1h1v1h1v1h1v2H8v1H7v1H6v1H5V9zm6-9H5v2h5l1 1v10l-1 1H5v2h6l2-2V2l-2-2z"/>
    </symbol>

    <symbol id="svg-search" viewBox="0 0 612.056 612.057">
      <path d="M595.2 513.908L493.775 412.482c26.707-41.727 42.685-91.04 42.685-144.263C536.46 120.084 416.375 0 268.24 0 120.106 0 .02 120.085.02 268.22c0 148.133 120.086 268.22 268.22 268.22 53.222 0 102.537-15.98 144.225-42.687L513.89 595.216c22.455 22.453 58.855 22.453 81.272 0 22.492-22.49 22.492-58.855.038-81.308zm-326.96-54.103c-105.793 0-191.585-85.793-191.585-191.585 0-105.793 85.792-191.585 191.585-191.585s191.585 85.792 191.585 191.585c0 105.792-85.79 191.585-191.585 191.585z"/>
    </symbol>

    <symbol id="svg-marker" viewBox="0 0 466.583 466.582">
      <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.94-34.774c1.318-1.998 32.642-49.577 64.484-106.64 45.023-80.68 66.908-136.56 66.908-170.834C387.624 69.234 318.39 0 233.292 0zm0 233.29c-44.182 0-80-35.816-80-80s35.818-80 80-80 80 35.818 80 80-35.82 80-80 80z"/>
    </symbol>

    <symbol id="svg-facebook" viewBox="0 0 60.734 60.733">
      <path d="M57.378 0H3.352C1.502 0 0 1.5 0 3.354V57.38c0 1.852 1.502 3.353 3.352 3.353h29.086v-23.52h-7.914v-9.166h7.914v-6.76c0-7.843 4.79-12.116 11.787-12.116 3.355 0 6.232.252 7.07.36v8.2h-4.853c-3.805 0-4.54 1.81-4.54 4.463v5.85h9.08l-1.188 9.167h-7.892v23.52h15.475c1.852 0 3.355-1.503 3.355-3.35V3.35C60.732 1.5 59.23 0 57.378 0z"/>
    </symbol>

    <symbol id="svg-arrow-next" viewBox="0 0 14 10">
      <style>.svg-arrow-next-shadow{fill:currentColor;}</style>
      <path class="svg-arrow-next-shadow" d="M14 5h-1V4h-1V3h-1V2h-1V1H8v1h1v1h1v1h1v1H0v1h11v1h-1v1H9v1H8v1h2V9h1V8h1V7h1V6h1z"/>
      <path d="M14 4h-1V3h-1V2h-1V1h-1V0H8v1h1v1h1v1h1v1H0v1h11v1h-1v1H9v1H8v1h2V8h1V7h1V6h1V5h1z"/>
    </symbol>
    <symbol id="svg-heart" viewBox="0 0 176.104 176.104">
      <path d="M150.383 18.3c-7.13-3.927-15.308-6.186-24.033-6.186-15.394 0-29.18 7.015-38.283 18.015-9.146-11-22.92-18.016-38.334-18.016-8.704 0-16.867 2.26-24.013 6.187C10.388 26.793 0 43.118 0 61.88c0 5.37.874 10.522 2.457 15.34 8.537 38.375 85.61 86.772 85.61 86.772s77.022-48.396 85.57-86.77c1.584-4.82 2.467-9.978 2.467-15.342 0-18.754-10.388-35.074-25.72-43.577z"/>
    </symbol>

    <symbol id="svg-home" viewBox="0 0 21 20">
      <style>.svg-home-shadow{fill:currentColor;}</style>
      <path class="svg-home-shadow" d="M15 2h3v3h-1V3h-2z"/>
      <path class="svg-home-shadow" d="M4 12v8h5.9l.1-5h3v5h5.9l.1-8h-1v7h-4v-5H9v5H5v-7z"/>
      <path class="svg-home-shadow" d="M10 2v1H9v1H8v1H7v1H6v1H5v1H4v1H3v1H1V9h1V8h1V7h1V6h1V5h1V4h1V3h1V2h1V1h1"/>
      <path d="M14 1h3v3h-1V2h-2z"/>
      <path d="M3 11v8h6v-5h3v5h6v-8h-1v7h-4v-5H8v5H4v-7z"/>
      <path d="M0 9h1V8h1V7h1V6h1V5h1V4h1V3h1V2h1V1h1V0h2v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h1v1h-2V9h-1V8h-1V7h-1V6h-1V5h-1V4h-1V3h-1V2H9v1H8v1H7v1H6v1H5v1H4v1H3v1H2v1H0z"/>
    </symbol>

  </svg>
</noindex>
