.pr-user
  margin-left: auto
  &__avatar
    border-radius: 50%
    width: 53px
    height: 53px
    margin-left: 15px
    vam()
  &__greeting
    font-size: 14px
    color #e0934f
    vam()

@media screen and (max-width: 560px)
  .pr-user
    &__greeting
      display: none
    &__avatar
      margin-left: 0
