<form class="f-search _check">

  <div class="f-search__row">
    <label class="f-default__checkbox">
      <input type="checkbox" checked/>
      <span class="f-default__checkbox-label">Active</span>
    </label>
  </div>
  <div class="f-search__row">
    <label class="f-default__checkbox">
      <input type="checkbox" checked/>
      <span class="f-default__checkbox-label">Closest</span>
    </label>
  </div>
  <div class="f-search__row">
    <label class="f-default__checkbox">
      <input type="checkbox" checked/>
      <span class="f-default__checkbox-label">Some long words group</span>
    </label>
  </div>
  <div class="f-search__row">
    <label class="f-default__checkbox">
      <input type="checkbox" checked/>
      <span class="f-default__checkbox-label">Passed</span>
    </label>
  </div>

  <div class="f-search__row">
    <button class="f-search__submit">Search</button>
  </div>

</form>
