<div class="l-events">
  <div class="l-events__top">
    <span class="l-events__text">We've found 82 982 volunteer opportunities near</span>
    <div class="l-events__select _country">
      <svg focusable="false" version="1.1" class="svg-marker">
        <use xlink:href="#svg-marker"></use>
      </svg>
      <ui-select ng-model="vm.country" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Country" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="country in vm.countryArr" position="down">
          <div ng-bind-html="country">{{country}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="l-events__bottom">
    <div class="l-events__head">
      <div class="l-events__text _light _margin-right-auto"><span class="l-events__text-desktop">Displaying </span>1-10 of 6346</div>
      <div class="l-events__text _light">Sort by</div>
      <div class="l-events__select _sort-by">
        <ui-select ng-model="vm.sortBy" theme="bootstrap" search-enabled="false" required="">
          <ui-select-match placeholder="Near You & New" ng-show="true">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="sortBy in vm.sortByArr" position="down">
            <div ng-bind-html="sortBy">{{sortBy}}</div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <ul class="l-events__body">
      <li class="l-events__item" ng-repeat="event in vm.events">
        <b-event data="event"></b-event>
      </li>
    </ul>
  </div>
</div>
