.l-events
  border 1px solid #e3ded3
  background #fff
  border-radius: 4px
  box-shadow 0 1px 1px 0 rgba(#000,.2)
  &__text
    font-size: 14px
    color #666666
    vam()
    &._light
      opacity: .7
  &__select
    margin-left: 7px
    vam()
  &__top
    border-bottom 1px solid #e1e8ec
    padding 7px 20px
  &__head
    display: flex
    align-items center
    padding 0 20px
  &__body
    padding: 0
    margin: 0
  &__item
    display: block
  .svg-marker
    vam()
    width: 13px
    height: 17px
    fill #de9248
    position: relative
    right: -9px
    z-index: 1
  ._country
  ._sort-by
    .ui-select-match
      display: block !important
      outline none
      box-shadow none
      color #de9248
    .text-muted
      color #de9248
    .caret
      width: 7px
      height: 7px
      border-top 1px solid #de9248
      border-left 1px solid #de9248
      border-right 0
      transform-origin: center
      transform rotate(-135deg)
      margin-top: -4px;
      right: 7px;
    .form-control
      height: 38px
      border-radius: 0
      box-shadow none
      background #fff
      padding 9px 12px
      color #de9248
      border-color transparent
      &>span
        overflow: hidden
        text-overflow ellipsis
        white-space nowrap
    .ui-select-container
      outline none
      width: 130px
      vam()
    .dropdown-menu
      border-radius: 0
      border-color #e4e4e4
      background #f7f7f7
      padding: 0
      min-width 1px
    .ui-select-choices-row div
      overflow: hidden
      text-overflow ellipsis
      white-space nowrap
  ._sort-by
    .ui-select-container
      width: 135px
      top: -1px
    .ui-select-match
      color #333333
    .text-muted
      color #333333
    .caret
      border-top 1px solid #333333
      border-left 1px solid #333333
      right: 0;
    .btn-default-focus
    .form-control
      background transparent
      color #333

@media screen and (max-width: 740px)
  .l-events
    border-radius: 0
    border-left 0
    border-right 0
    box-shadow none
    border-bottom: 0
    &__head
      padding: 7px 15px
    &__text-desktop
      display: none
    &__select
      &._sort-by
        margin-left: 0
        margin-right auto
    ._sort-by
      .form-control
        padding: 9px 6px;
      .caret
        border-top: 2px solid #333;
        border-left: 2px solid #333;
        right: -11px
        width: 9px
        height: 9px
    ._margin-right-auto
      margin-right: 0
      order 3
    &__text
      font-size: 16px
    &__item:last-child
      .b-event
        padding-bottom: 47px
        &:after
          width calc(100% - 8px)
          bottom: 21px
          left: 4px
          ps()
          height: 3px
          background-position top left
          background-image url(../assets/images/bgborder.png)
    .btn
      font-size: 16px
@media screen and (max-width: 560px)
  .l-events
    &__top
      display: none
