<form action="" class="f-sign-up">

  <div class="f-sign-up__step" ng-if="fsign.step == 1">
    <div class="f-sign-up__title">Registration <span class="_marked">Step 1</span></div>
    <div class="f-sign-up__row">
      <label for="firstName" class="f-sign-up__label">Enter Your Full Name <span class="_marked">*</span></label>
      <input id="firstName" type="text" class="f-default__field" placeholder="First Name" required/>
      <input type="text" class="f-default__field" placeholder="Last Name" required/>
    </div>
    <div class="f-sign-up__row">
      <label for="birthDate" class="f-sign-up__label">Enter Your Birth Date <span class="_marked">*</span></label>
      <input id="birthDate" type="text" class="f-default__field" placeholder="Format: DD.MM.YYYY" required/>
    </div>
    <div class="f-sign-up__row">
      <div class="f-sign-up__label">Choose Your Gender <span class="_marked">*</span></div>
      <label class="f-default__radio _inline-block">
        <input type="radio" name="gender"/>
        <span class="f-default__radio-label">Male</span>
      </label>
      <label class="f-default__radio _inline-block">
        <input type="radio" name="gender" checked/>
        <span class="f-default__radio-label">Female</span>
      </label>
    </div>
    <div class="f-sign-up__row">
      <label for="shull" class="f-sign-up__label">Enter your main shull where you daven</label>
      <input id="shull" type="text" class="f-default__field" placeholder="Shul Affiliation"/>
    </div>
    <button class="btn-action" ng-click="fsign.step = 2">Next Step
      <svg focusable="false" version="1.1" class="svg-arrow-next">
        <use xlink:href="#svg-arrow-next"></use>
      </svg>
    </button>
  </div>

  <div class="f-sign-up__step" ng-if="fsign.step == 2">
    <div class="f-sign-up__title">Registration <span class="_marked">Step 2</span></div>
    <div class="f-sign-up__row">
      <label for="phone" class="f-sign-up__label">Enter Your Phone</label>
      <input id="phone" type="tel" class="f-default__field" placeholder="Format: +10001112233"/>
    </div>
    <div class="f-sign-up__row">
      <label for="cellphone" class="f-sign-up__label">Enter Your Cell Phone</label>
      <input id="cellphone" type="tel" class="f-default__field" placeholder="Format: +10001112233"/>
      <label class="f-default__checkbox">
        <input type="checkbox"/>
        <span class="f-default__checkbox-label">I want to be notified by SMS</span>
      </label>
    </div>
    <div class="f-sign-up__row">
      <label for="address" class="f-sign-up__label">Enter Your Address <span class="_marked">*</span></label>
      <input id="address" type="text" class="f-default__field" placeholder="Address" required/>
      <ui-select ng-model="fsign.city" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Choose Your City" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="city in fsign.cityArr" position="down">
          <div ng-bind-html="city">{{city}}</div>
        </ui-select-choices>
      </ui-select>
      <input type="text" class="f-default__field" placeholder="ZIP" required/>
      <ui-select ng-model="fsign.state" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Choose Your State" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="state in fsign.stateArr" position="down">
          <div ng-bind-html="state">{{state}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
    <button class="btn-action-b" ng-click="fsign.step = 1">
      <svg focusable="false" version="1.1" class="svg-arrow-next">
        <use xlink:href="#svg-arrow-next"></use>
      </svg>
      Back</button>
    <button class="btn-action" ng-click="fsign.step = 3">Next Step
      <svg focusable="false" version="1.1" class="svg-arrow-next">
        <use xlink:href="#svg-arrow-next"></use>
      </svg>
    </button>
  </div>

  <div class="f-sign-up__step" ng-if="fsign.step == 3">
    <div class="f-sign-up__title">Registration <span class="_marked">Step 3</span></div>
    <div class="f-sign-up__row">
      <label class="f-sign-up__label">Select Chessed Areas</label>
      <ui-select ng-model="fsign.areas" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Nothing Selected" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="areas in fsign.areasArr" position="down">
          <div ng-bind-html="areas">{{areas}}</div>
        </ui-select-choices>
      </ui-select>
      <button class="btn-action-b">+ Add</button>
    </div>
    <div class="f-sign-up__row">
      <label class="f-sign-up__label">Willing to do chessed within</label>
      <ui-select ng-model="fsign.willing" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Nothing Selected" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="willing in fsign.willingArr" position="down">
          <div ng-bind-html="willing">{{willing}}</div>
        </ui-select-choices>
      </ui-select>
      <label class="f-default__checkbox">
        <input type="checkbox" checked/>
        <span class="f-default__checkbox-label">Willing to do chessed in my professional field</span>
      </label>
    </div>
    <div class="f-sign-up__row">
      <label for="occupation" class="f-sign-up__label">Choose Your Occupation</label>
      <input id="occupation" type="text" class="f-default__field" placeholder="Occupation" required/>
      <input type="text" class="f-default__field" placeholder="Specialisation" required/>
    </div>
    <button class="btn-action-b" ng-click="fsign.step = 2">
      <svg focusable="false" version="1.1" class="svg-arrow-next">
        <use xlink:href="#svg-arrow-next"></use>
      </svg>
      Back</button>
    <button class="btn-action" ng-click="fsign.step = 4">Next Step
      <svg focusable="false" version="1.1" class="svg-arrow-next">
        <use xlink:href="#svg-arrow-next"></use>
      </svg>
    </button>
  </div>

  <div class="f-sign-up__step" ng-if="fsign.step == 4">
    <div class="f-sign-up__title">Registration <span class="_marked">Step 3</span></div>
    <div class="f-sign-up__row">
      <label for="email" class="f-sign-up__label">Enter Your Email</label>
      <input id="email" type="email" class="f-default__field" placeholder="Email"/>
      <label class="f-default__checkbox">
        <input type="checkbox"/>
        <span class="f-default__checkbox-label">I want to be notified by E-mail</span>
      </label>
    </div>
    <div class="f-sign-up__row">
      <label for="pass" class="f-sign-up__label">Create Your Password</label>
      <input id="pass" type="password" class="f-default__field" placeholder="Password" required/>
      <input type="password" class="f-default__field" placeholder="Confirm Password" required/>
    </div>
    <button class="btn-action-b" ng-click="fsign.step = 2">
      <svg focusable="false" version="1.1" class="svg-arrow-next">
        <use xlink:href="#svg-arrow-next"></use>
      </svg>
      Back</button>
    <button class="btn-action">Done</button>
  </div>



</form>
