.btn-action
  font-size: 16px
  color #fff
  line-height: 37px
  margin-left: auto;
  padding 0 17px
  text-shadow 0 1px 0 #005e9e
  border-radius: 3px
  border 0
  vam()
  M()
  background linear-gradient(to top, #007ed4, #00a4e2)
  tro()
  &:hover
    opacity: .75
  &._float-right
    float: right
  .svg-arrow-next
    width: 14px
    height: 10px
    fill #fff
    color #005e9e
    margin-left: 4px;
.btn-action-b
  color #0091db
  font-weight: 500
  font-size: 16px
  border 0
  display: block
  line-height: 37px
  padding 0 1px
  tro()
  M()
  .svg-arrow-next
    fill #0091db
    width: 14px
    height: 10px
    color transparent
    margin-right 4px;
    transform scaleX(-1)
  &:hover
    opacity: .66
  &._plus
    padding-left: 13px
    position: relative
    &:before
      v()


.f-default
  &__field
    height: 40px
    width: 100%
    font-size: 14px
    background #f7f7f7
    border-radius: 3px
    padding 0 14px
    border 1px solid #e4e4e4
    &::placeholder
      color rgba(#8c8c8c,.9)
    &~&
    &~.ui-select-container
      margin-top: 20px
    &+.f-default__checkbox
      margin-top: 20px

  &__radio
    display: block
    margin-bottom: 0
    cursor: pointer
    &._inline-block
      vam()
      &+&
        margin-left: 29px
    input
      display: none
      &:checked
        &+.f-default__radio-label
          color rgba(#627368,.9)
          &:before
            border-color transparent
            background linear-gradient(to top, #1fb556, #30bf64)
          &:after
            v()
            bottom: 4px;
            width: 14px
            height: 9px
            left: 5px
            border-left 2px solid #fff
            border-bottom 2px solid #fff
            transform-origin: center
            transform rotate(-45deg)

    &-label
      padding-left: 40px
      line-height: 25px;
      font-size: 14px
      color rgba(#8c8c8c,.9)  //627368
      position: relative
      &:before
        v()
        width: 25px
        height: 25px
        background #f7f7f7
        border 1px solid #e4e4e4
        border-radius: 3px
        left: 0
  &__checkbox
    display: block
    margin-bottom: 0
    cursor: pointer
    font-weight: 400
    &._blue
      .f-default__checkbox-label
        &:before
          width: 22px
          height: 22px
          border 2px solid #00a0e1
      input
        &:checked
          &+.f-default__checkbox-label
            &:before
              background #00a0e1
            &:after
              width: 12px
              height: 7px

    &._inline-block
      vam()
      &+&
        margin-left: 29px
    input
      display: none
      &:checked
        &+.f-default__checkbox-label
          color rgba(#627368,.9)
          &:before
            border-color transparent
            background linear-gradient(to top, #1fb556, #30bf64)
          &:after
            v()
            bottom: 4px;
            width: 14px
            height: 9px
            left: 5px
            border-left 2px solid #fff
            border-bottom 2px solid #fff
            transform-origin: center
            transform rotate(-45deg)

    &-label
      padding-left: 40px
      line-height: 25px;
      font-size: 14px
      color rgba(#8c8c8c,.9)  //627368
      position: relative
      &:before
        v()
        width: 25px
        height: 25px
        background #f7f7f7
        border 1px solid #e4e4e4
        border-radius: 3px
        left: 0



.f-sign-up
  max-width 544px
  background #fff
  border 1px solid #e3ded3
  border-radius: 4px
  margin 0 auto
  padding: 53px 60px 48px
  box-shadow 0 1px 1px 0 rgba(#000,.2)

  .btn-action
    float: right;
    margin-top: 15px;
    min-width: 91px;
  .btn-action-b
    float: left;
    margin-top: 15px
  ._marked
    color #e99851
  &__step
    cf()
  &__row
    margin-bottom: 35px
    .btn-action-b
      float: none
      margin-bottom: -14px;
      margin-top: 9px;
  &__title
    font-size: 24px
    margin-bottom: 25px
    color #627368
    font-weight: 500
    M()

  &__label
    font-size: 16px
    opacity: .9
    display: block
    margin-bottom: 15px;
    font-weight: 400

  .ui-select-match
    display: block !important
    outline none
    box-shadow none
    .caret
      width: 10px
      height: 6px
      border-top 6px solid #999999
      border-left 5px solid transparent
      border-right 5px solid transparent
      margin-top: -2px;
      right: 16px;
  .form-control
    height: 40px
    box-shadow none
    border-radius: 3px
    background linear-gradient(to top, #e9e9e9, rgba(255,255,255,0))
    padding 9px 13px
    border-color #e4e4e4
    color rgba(#8c8c8c,.9)
  .open .form-control
    background #f7f7f7
    border-radius: 3px 3px 0 0
  .ui-select-container
    outline none
    border-radius: 3px
    &~.f-default__checkbox
      margin-top: 20px
  .dropdown-menu
    border-radius: 0 0 3px 3px;
    border-color #e4e4e4
    background #f7f7f7
    padding: 0
    box-shadow none
  .ui-select-bootstrap .ui-select-choices-row
    border-bottom: 1px solid #e4e4e4
    &:last-child
      border-bottom: 0
  .ui-select-bootstrap .ui-select-choices-row>a
    padding: 10px 14px 9px
    color rgba(#8c8c8c,.9)
  .ui-select-bootstrap .ui-select-choices-row.active>a
    color #fff
  .ui-select-bootstrap > .ui-select-choices
    max-height: 202px;


@media screen and (max-width: 580px)
  .f-sign-up
    padding: 30px 15px 30px
    margin 0 10px
