<header class='s-header'>
  <div class="def-container">
    <a href="/" class="i-logo">
      <span class="i-logo__title">Just One Chessed</span>
      <span class="i-logo__subtitle">Changing A World One Chessed at a Time</span>
    </a>
    <div ng-if="false" class="b-watchword">Join Volunteers in your Community
      <br/>No obligation to sign up today!</div>
    <a ng-if="false" href="#" class="btn-sign-up">Sign up</a>
    <pr-user ng-if="true"></pr-user>
  </div>
  <m-site></m-site>
</header>
