.s-header
  display: block
  margin-bottom: 19px
  .def-container
    display: flex
    align-items center
    padding 8px 25px 15px
  .b-watchword
    margin-left: auto;
    color #e0934f
    font-size: 12px
    line-height: 18px
    margin-right: 20px
    position: relative;
    top: 2px;

@media screen and (max-width: 800px)
  .s-header
    .def-container
      padding  8px 25px 15px

@media screen and (max-width: 740px)
  .s-header
    margin-bottom: 0
    .def-container
      padding  24px 15px 26px
    .b-watchword
      display: none
    .btn-sign-up
      margin-left: auto;
