<nav class="m-site">
  <ul class="m-site__ul">
    <li class="m-site__li">
      <a href="/" class="m-site__link">
        <svg focusable="false" version="1.1" class="svg-home">
          <use xlink:href="#svg-home"></use>
        </svg>
        <span class="m-site__link-text-desktop">Home</span>
        </a>
    </li>
    <li class="m-site__li _active">
      <a href="#" class="m-site__link"><span class="m-site__link-text-desktop">Browse </span>Opportunities</a>
    </li>
    <li class="m-site__li">
      <a href="#" class="m-site__link">About</a>
    </li>
    <li class="m-site__li">
      <a href="#" class="m-site__link">Contact</a>
    </li>
    <li class="m-site__li">
      <a href="#" class="m-site__link">
        <svg focusable="false" version="1.1" class="svg-enter">
          <use xlink:href="#svg-enter"></use>
        </svg>
        Log in</a>
    </li>
  </ul>
</nav>
