.m-site
  background linear-gradient(to top, #007dd4, #00a4e2)
  box-shadow 0 4px 29px 0 rgba(#000,.25)
  &__ul
    max-width 1000px
    padding 0 25px
    margin 0 auto
    display: flex
  &__li
    display: block
    &:last-of-type
      margin-left auto
    &:not(:last-of-type)
      position: relative
      &:before
        ps()
        height: 100%
        left: -1
        top: 0
        width: 2px
        border-left 1px solid rgba(#33b5e7,.5)
        border-right 1px solid rgba(#007ed5,.5)
    &:nth-last-child(2)
      &:after
        ps()
        height: 100%
        right: -1px
        top: 0
        width: 2px
        border-left 1px solid rgba(#33b5e7,.5)
        border-right 1px solid rgba(#007ed5,.5)
    &._active
    &:hover
      background linear-gradient(to top, #0076c0, #0064a9)
      &+.m-site__li:before
      &:before
      &:after
        display: none
    &:last-child
      margin-right: -24px
  &__link
    padding 14px 24px
    display: block
    font-size: 16px
    color #fff
    font-weight: 500
    M()
    text-shadow 0 1px 0 #005e9e
    position: relative
    z-index: 1
    white-space nowrap
    &:hover
    &:focus
      outline none
      color #fff
      text-decoration: none
  .svg-enter
    margin-right: 4px;
  .svg-home
    display: none
    vertical-align: middle
    width: 21px
    height: 20px
    fill #fff
    color #005e9e

@media screen and (max-width: 740px)
  .m-site
    &__ul
      padding: 0
    &__link-text-desktop
      display: none
    &__li
      &:last-child
        margin-right: 0
    .svg-home
      display: inline-block


@media screen and (max-width: 560px)
  .m-site
    .svg-enter
      display: none
    &__li
      flex-grow 1
    &__link
      text-align: center
      padding 12px 5px
      font-size: 14px;
