.f-volunteers
  border 1px solid #e3ded3
  border-radius: 4px
  background #fff
  padding: 27px 20px 30px
  margin-top: 39px;
  margin-bottom: 10px
  box-shadow 0 1px 1px 0 rgba(#000,.2)
  &__info
    margin-bottom: 27px
  &__title
    color #666
    font-size: 16px
    margin-bottom: 8px
    M()
  &__event
    font-size: 23px
    color #27a754
    M()
  &__date
    font-size: 16px
    color #e0934f
    M()
  &__btn
    vertical-align: baseline
    margin-left: 17px;
    position: relative;
    top: -2px;
    &:hover
      opacity: 0.75;
  &__flex
    display: flex
    margin-bottom: 20px
  &__col
    flex-grow 1
    flex-basis 50%
    width calc(50% - 54px)
    position: relative
    &._fixed
      max-width 108px
      flex-grow 0
      flex-shrink 0
  &__field
    display: block
    width: 100%
    border 1px solid #e4e4e4
    background #f7f7f7
    height: 40px
    border-radius: 3px 0 0 3px
    padding 0 15px 0 39px
    border-right: 0
    color #333333
    outline none
    &::placeholder
      color #8c8c8c
  .svg-search
    z-index: 1
    width: 15px
    height: 15px
    position: absolute
    left: 13px
    fill #b7b7b7
    pointer-events none
    display: block
    top: 0
    bottom: 0
    margin auto 0
  &__submit
    width: 108px
    display: block
    background #25b75a
    text-align: center
    M()
    font-weight: 500
    color #fff
    font-size: 16px
    text-shadow 0 2px 0 #24964c
    border 0
    line-height: 40px
    height: 40px
    border-radius: 0 3px 3px 0
    box-shadow inset 0 -3px 0 0 #24964c
    tr()
    &:hover
      background rgba(#25b75a,.8)
      box-shadow inset 0 -1px 0 0 #24964c
  .ui-select-match
    display: block !important
    outline none
    box-shadow none
    .caret
      width: 7px
      height: 7px
      border-top 1px solid #000
      border-left 1px solid #000
      border-right 0
      transform-origin: center
      transform rotate(-135deg)
      margin-top: -5px;
      right: 17px;
  .form-control
    height: 40px
    border-radius: 0
    box-shadow none
    background #f7f7f7
    padding 9px 13px
    color #333333
    border-color #e4e4e4
  .ui-select-container
    outline none
  .dropdown-menu
    border-radius: 0
    border-color #e4e4e4
    background #f7f7f7
    padding: 0

@media screen and (max-width: 740px)
  .f-volunteers
    padding: 15px 20px 20px;
    border-left 0
    border-right 0
    border-radius: 0
@media screen and (max-width: 670px)
  .f-volunteers
    .f-default__checkbox-label
      display: block
      line-height: 15px;
    &>.f-default__checkbox
    &>.f-default__checkbox
    &__info
      display: block
      max-width 360px
      margin 0 auto 15px
    &__event
      display: block
      margin-bottom: 8px
    &__flex
      display: block
    &__col
      display: block;
      width: 100%
      max-width 360px
      margin 0 auto 14px
      &._fixed
        max-width 360px
    &__submit
      height: 44px
      line-height: 44px
      border-radius: 3px
      width 100%
      box-shadow none
      font-size: 18px
      position: relative;
      top: 6px;
    &__bar
      display: block
