<form class="f-volunteers">

  <div class="f-volunteers__info">
    <div class="f-volunteers__title">Search Volunteers for</div>
    <span class="f-volunteers__event">Beautiful healthy smiles,</span>
    <time class="f-volunteers__date">22th April 2016</time>
    <button class="f-volunteers__btn btn-a">Change</button>
  </div>

  <div class="f-volunteers__flex">
    <div class="f-volunteers__col">
      <input type="text" class="f-volunteers__field" placeholder="Search by Volunteer's Name"/>
      <svg focusable="false" version="1.1" class="svg-search">
        <use xlink:href="#svg-search"></use>
      </svg>
    </div>
    <div class="f-volunteers__col">
      <ui-select ng-model="vmvolunteer.category" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Select Volunteer's Category" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="category in vmvolunteer.categoryArr" position="down">
          <div ng-bind-html="category">{{category}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="f-volunteers__col _fixed">
      <button class="f-volunteers__submit">Search</button>
    </div>
  </div>

  <label class="f-default__checkbox _inline-block">
    <input type="checkbox"/>
    <span class="f-default__checkbox-label">Past Confirmed Volunteers for this Organisation</span>
  </label>

</form>
