/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$icon-font-path = "../../bower_components/bootstrap-stylus/fonts/"

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import 'stylus/mixin'
@import 'stylus/fonts'

M()
  font-family: 'Museo', Arial, Helvetica, sans-serif;
MS()
  font-family: 'MuseoSans', Arial, Helvetica, sans-serif;

@import 'stylus/svg'
@import 'stylus/i'
@import 'stylus/btn'

.owl-item
  transform translateZ(0)
img
  display block
button
  background transparent
textarea
  overflow-y auto
input,textarea, select, button
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-appearance none
  border-radius: 0
html,body
  height 100%
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-focus-ring-color rgba(255,255,255,0)
.wrapper
  background url(../assets/images/bgpattern.png) center top
  min-height: 100%
  padding-bottom: 71px
.def-container
  margin 0 auto
  padding 0 25px
  max-width 1000px
  cf()

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px
._margin-right-auto
  margin-right: auto;


@media screen and (max-height: 800px)
  .wrapper
    padding-bottom: 35px

@media screen and (max-width: 800px)
  .def-container
    padding 0 20px


@media screen and (max-width: 740px)
  .def-container
    padding 0
  .wrapper
    padding-bottom: 0


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
