.b-event
  position: relative
  padding 32px 20px
  &:before
    width calc(100% - 8px)
    top: 0
    left: 4px
    ps()
    height: 3px
    background-position top left
    background-image url(../assets/images/bgborder.png)
  &__share
    float: right
    padding: 4px;
  &__date
    font-size: 16px
    color #e99851
    font-weight: 500
    margin-bottom: 5px
    M()
  &__title
    font-size: 24px
    color #27a754
    font-weight: 500
    margin-bottom: 2px
    margin-top: 11px;
    M()
  &__address
    font-size: 14px
    color #adadad
    vam()
    margin-left: 2px
  &__place
    margin-bottom: 10px
    svg.svg-marker
      vam()
      width: 14px
      height: 14px
      fill #adadad
      right: 0
  &__text
    font-size: 14px
    line-height: 20px
    color #666666
    margin-bottom: 20px
    display: inline
  &__manager
    font-size: 0
    margin-bottom: 20px
    margin-top: 15px;
    &-photo
      border-radius: 50%
      vam()
      margin-right: 9px
    &-full-name
      font-size: 14px
      color #333333
      vam()
      font-weight: 600
  &__bottom
    display: flex
    align-items flex-end
  &__action
    font-size: 16px
    color #fff
    line-height: 37px
    margin-left: auto;
    padding 0 17px
    text-shadow 0 1px 0 #005e9e
    border-radius: 3px
    border 0
    background linear-gradient(to top, #007ed4, #00a4e2)
    tro()
    &:hover
      opacity: .75
  &__subcategory
    background linear-gradient(to top, #f1f1f1, #f4f4f4)
    border 1px solid #dcdcdc
    border-radius: 3px
    font-weight: 600
    font-size: 12px
    padding 0 11px
    height: 30px
    line-height: 28px
    color #666666
    position: relative;
    top: 3px;
    white-space nowrap
    tro()
    &:hover
      opacity: .75
    &+&
      margin-left: 10px
  .svg-heart
    width: 16px
    height: 14px
    fill #e99851
    display: inline-block
    vertical-align: baseline

@media screen and (max-width: 800px)
  .b-event__share
    padding: 0

@media screen and (max-width: 740px)
  .b-event
    padding: 25px 15px;
    &__subcategory
      display: none
    &__text
      font-size: 16px;
      line-height: 24px;
    &__address
      font-size: 16px
      color #e99851
    svg.svg-marker
      fill #e99851
    &__title
      font-size: 20px
      line-height: 24px
      margin-bottom: 6px;
    &__manager-full-name
      font-size: 16px
    &__place
      margin-bottom: 9px;
    &__manager-photo
      margin-right: 13px;

@media screen and (max-width: 560px)
  .b-event
    &__action
      max-width 360px
      margin 0 auto
      width: 100%
      line-height: 44px;
