<article class="b-event">
  <div class="b-event__share">
    <a href="#" class="i-share">
      <svg focusable="false" version="1.1" class="svg-facebook">
        <use xlink:href="#svg-facebook"></use>
      </svg>
      Share
    </a>
  </div>
  <time class="b-event__date">
    <svg focusable="false" version="1.1" ng-if="!vm.data.DateTime.length" class="svg-heart">
      <use xlink:href="#svg-heart"></use>
    </svg>
    {{vm.data.DateTime.length ? (vm.data.DateTime | date:'d.M.yyyy') : 'Ongoing'}}</time>
  <h3 class="b-event__title">{{vm.data.Header}}</h3>
  <div class="b-event__place">
    <svg focusable="false" version="1.1" class="svg-marker">
      <use xlink:href="#svg-marker"></use>
    </svg>
    <div class="b-event__address">{{vm.data.Organization.Address}}, {{vm.data.Organization.City.Name}}</div>
  </div>
  <p class="b-event__text">{{vm.data.Description}}</p>
  <button class="i-read-more">Read more</button>
  <div class="b-event__manager">
    <img src="http://placehold.it/35x35" alt="" class="b-event__manager-photo"/>
    <span class="b-event__manager-full-name">{{vm.data.Creator.TotalName}}</span>
  </div>
  <div class="b-event__bottom">
    <button class="b-event__subcategory" ng-repeat="subcat in vm.data.SubCategories">{{subcat.Name}}</button>
    <button class="b-event__action">Volunteer!</button>
  </div>
</article>
