.t-volunteers
  width: 100%
  .btn-close
    margin-left: 13px
  ._marked
    color #3490d9
  &__scrollable
    overflow-y: hidden;
    max-height: calc(100vh - 535px);
    position: relative
    overflow-x hidden
    &>div
      overflow-x auto
      overflow-y: hidden;
  &__bar
    padding 6px 20px
    border-bottom 1px solid #e1e8ec
    display: flex
    align-items center
  &__selected
    margin-left:auto;
    color #9d9d9d
    M()
    ._marked
      color #3490d9
    .btn-action
      margin-left: 16px
      line-height: 27px
      font-size: 14px
      padding 0 21px

  &__displaying
    color #7a7a7a
    .ui-select-bootstrap .ui-select-choices-row>a
      padding 3px 10px
    .ui-select-bootstrap .ui-select-toggle > .caret
      width: 7px
      height: 7px
    .ui-select-match
      display: block !important
      outline none
      box-shadow none
      color #de9248
    .text-muted
      color #de9248
    .caret
      width: 7px
      height: 7px
      border-top 1px solid #7a7a7a
      border-left 1px solid #7a7a7a
      border-right 0
      transform-origin: center
      transform rotate(-135deg)
      margin-top: -4px;
      right: 7px;
    .form-control
      height: 38px
      border-radius: 0
      box-shadow none
      background #fff
      padding: 9px 12px 9px 0
      color #7a7a7a
      border-color transparent
      &>span
        overflow: hidden
        text-overflow ellipsis
        white-space nowrap
    .ui-select-bootstrap > .ui-select-choices
      width: 115%;
    .ui-select-container
      outline none
      width: 100px
      vam()
    .dropdown-menu
      border-radius: 0
      border-color #e4e4e4
      background #f7f7f7
      padding: 0
      min-width 1px
    .ui-select-choices-row div
      overflow: hidden
      text-overflow ellipsis
      white-space nowrap
  &__wrap
    overflow-x auto
    background #fff
    box-shadow 0 1px 1px 0 rgba(#000,.2)
    border 1px solid #e3ded3
    border-radius: 4px
    position: relative
    &:before
      bottom: 0
      left: 0
      width: 100%
      pointer-events none
      ps()
      height: 75px
      background linear-gradient(to top, #fff, rgba(#fff,0))
      z-index: 1
  &__th
    padding 15px 0
    color #9d9d9d
    font-size: 13px
    white-space nowrap
    font-weight: 400
    .f-default__checkbox-label
      margin-left: 11px
  &__td
    border-top 1px solid #e1e8ec
    padding: 21px 0 22px;
    color: #333;
    font-size: 13px;
    line-height: 16px
    vertical-align: top
    .f-default__checkbox
      position: relative;
      top: -4px;
  &__th
    &:last-child
      .f-default__checkbox
        margin-left: -94px;
  &__th
  &__td
    padding-left: 20px
    white-space nowrap
    &:last-child
      width: 62px;
      white-space nowrap
      padding-right: 16px;


.ps-container.ps-active-y > .ps-scrollbar-y-rail
  opacity: 1
  width: 15px
  background #f7f7f7
  border-radius: 5px
  border 1px solid #e1e8ec
  right: -2px !important
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y
  right: 3px
  transform: scaleY(0.93);
  transform-origin: top center;
  z-index: 1
.ps-container:hover > .ps-scrollbar-y-rail:hover
  opacity: 1
.ps-container.ps-active-x > .ps-scrollbar-x-rail
  display: none

@media screen and (max-height: 800px)
  .t-volunteers
    &__scrollable
      max-height: calc(100vh - 500px);
      min-height: 265px;

@media screen and (max-width: 740px)
  .t-volunteers
    &__wrap
      border-left 0
      border-right 0
      border-radius: 0
    &__bar
      display: block

@media screen and (max-width: 420px)
  .t-volunteers
    &__selected
      .btn-action
        margin: 0
        width: 100%
        display: block
        margin-top: 10px
        line-height: 40px
