<div class="t-volunteers__wrap">

  <div class="t-volunteers__bar">
    <div class="t-volunteers__displaying">
      Displaying
      <ui-select ng-model="vmvolunteers.displaying" theme="bootstrap" search-enabled="false" required="">
        <ui-select-match placeholder="Select Volunteer's Category" ng-show="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="displaying in vmvolunteers.displayingArr" position="down">
          <div ng-bind-html="displaying">{{displaying}}</div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="t-volunteers__selected">
      <span class="_marked">100</span>
      Volunteers Selected
      <button class="btn-action"> Send Invitations</button>
    </div>
  </div>

  <perfect-scrollbar class="t-volunteers__scrollable"
                     wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
    <table class="t-volunteers">

      <thead class="t-volunteers__thead">
        <tr>
          <th class="t-volunteers__th">Name/Age/Gender</th>
          <th class="t-volunteers__th">City</th>
          <th class="t-volunteers__th">ZIP</th>
          <th class="t-volunteers__th">Phone</th>
          <th class="t-volunteers__th">Email</th>
          <th class="t-volunteers__th">Category</th>
          <th class="t-volunteers__th">Occupation</th>
          <th class="t-volunteers__th">
            <label class="f-default__checkbox _blue _inline-block">
              Select All
              <span class="_marked">630</span>
              <input type="checkbox"/>
              <span class="f-default__checkbox-label"></span>
            </label>

          </th>
        </tr>
      </thead>

      <tbody class="t-volunteers__tbody">

        <tr ng-repeat="n in [1,2,3,4,5,6,42,12,34,45,67,78,43,55,44,33,1,2,3,4,5,6,42,12,34,45,67,78,43,55,44,33] track by $index">

          <td class="t-volunteers__td">
            Sam Serious,
            <br>
            26, Male
          </td>
          <td class="t-volunteers__td">
            Springfield
          </td>
          <td class="t-volunteers__td">
            10004
          </td>
          <td class="t-volunteers__td">
            +123456789
          </td>
          <td class="t-volunteers__td">
            samserious@gmail.com
          </td>
          <td class="t-volunteers__td">
            <div>Subcat 1/1</div>
            <div>Subcat 2/3</div>
          </td>
          <td class="t-volunteers__td">
            The Univarsity of Edinburg,
            <br>
            Lecturer
          </td>
          <td class="t-volunteers__td">
            <label class="f-default__checkbox _blue">
              <input type="checkbox"/>
              <span class="f-default__checkbox-label"></span>
            </label>
          </td>

        </tr>

      </tbody>

    </table>
  </perfect-scrollbar>


</div>

