<form class="f-sort">

  <div class="f-sort__col">
    <ui-select ng-model="vmsort.category" theme="bootstrap" search-enabled="false" required="">
      <ui-select-match placeholder="Category" ng-show="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="category in vmsort.categoryArr" position="down">
        <div ng-bind-html="category">{{category}}</div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="f-sort__col">
    <ui-select ng-model="vmsort.country" theme="bootstrap" search-enabled="false" required="">
      <ui-select-match placeholder="Choose Location" ng-show="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="country in vmsort.countryArr" position="down">
        <div ng-bind-html="country">{{country}}</div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="f-sort__col _fixed">
    <button class="f-sort__submit">Apply</button>
  </div>

</form>
