.f-sort
  border 1px solid #e3ded3
  border-radius: 4px
  background #fff
  padding: 20px
  display: flex
  margin-top: 39px;
  margin-bottom: 10px
  box-shadow 0 1px 1px 0 rgba(#000,.2)
  &__col
    flex-grow 1
    flex-basis 50%
    width calc(50% - 54px)
    &._fixed
      max-width 108px
      flex-grow 0
      flex-shrink 0
  &__field
    display: block
    width: 100%
    border 1px solid #e4e4e4
    background #f7f7f7
    height: 40px
    border-radius: 3px 0 0 3px
    padding 0 15px 0 39px
    border-right: 0
    color #333333
    outline none
    &::placeholder
      color #8c8c8c
  &__submit
    width: 108px
    display: block
    background #25b75a
    text-align: center
    M()
    font-weight: 500
    color #fff
    font-size: 16px
    text-shadow 0 2px 0 #24964c
    border 0
    line-height: 40px
    height: 40px
    border-radius: 0 3px 3px 0
    box-shadow inset 0 -3px 0 0 #24964c
    tr()
    &:hover
      background rgba(#25b75a,.8)
      box-shadow inset 0 -1px 0 0 #24964c
  .ui-select-match
    display: block !important
    outline none
    box-shadow none
    .caret
      width: 7px
      height: 7px
      border-top 1px solid #000
      border-left 1px solid #000
      border-right 0
      transform-origin: center
      transform rotate(-135deg)
      margin-top: -5px;
      right: 17px;
  .form-control
    height: 40px
    border-radius: 0
    box-shadow none
    background #f7f7f7
    padding 9px 13px
    color #333333
    border-color #e4e4e4
  .ui-select-container
    outline none
  .dropdown-menu
    border-radius: 0
    border-color #e4e4e4
    background #f7f7f7
    padding: 0

@media screen and (max-width: 740px)
  .f-sort
    border-left 0
    border-right 0
    border-radius: 0
    margin-bottom: 15px
    padding 21px 15px 13px

@media screen and (max-width: 560px)
  .f-sort
    display: block
    &__col
      display: block;
      width: 100%
      max-width 360px
      margin 0 auto 14px
      &._fixed
        max-width 360px
    &__submit
      height: 44px
      line-height: 44px
      border-radius: 3px
      width 100%
      box-shadow none
      font-size: 18px
      position: relative;
      top: 6px;
