<s-header></s-header>
<div class="def-container">
  <f-sort></f-sort>
  <f-search-check></f-search-check>
  <t-events></t-events>

  <button class="btn-action _float-right">Create New Event</button>
</div>
