.btn-sign-up
  font-size: 12px
  line-height: 14px
  font-weight: 900
  MS()
  color #fff
  text-align: center
  border-radius: 50%
  width: 53px
  height: 53px
  text-transform: uppercase;
  display: flex
  align-items center
  justify-content: center
  padding 6px 10px 0
  background linear-gradient(to top, #dd9147, #faa75a)
  &:focus
  &:hover
    text-decoration: none
    opacity: .8
    color #fff

.btn-a
  vam()
  padding 0 15px
  border 0
  line-height: 27px
  color #fff
  background linear-gradient(to top, #dd9147, #faa75a)
  text-shadow 0 1px 0 rgba(#000,.66)
  border-radius: 3px

.btn-edit
  border-radius: 3px
  background #f7f7f7
  width: 20px
  height: 20px
  position: relative
  border 1px solid #9d9d9d
  vam()
  .svg-edit
    hvb()
.btn-close
  border-radius: 3px
  background #f79292
  width: 20px
  height: 20px
  position: relative
  trbg()
  vam()
  &:before
    transform rotate(-45deg)
  &:after
    transform rotate(45deg)
  &:before
  &:after
    hv()
    width: 14px
    height: 2px
    background #fff
    transform-origin: center
  &:hover
    background #ff4040

@media screen and (max-width: 740px)
  .btn-sign-up
    width: 45px
    height: 45px
    font-size: 10px
    line-height: 12px
    padding 3px 10px 0
