@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/museo-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../assets/fonts/museo-sans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../assets/fonts/museo-sans-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
