.i-logo
  display: block
  position: relative;
  top: 3px;
  &:hover
  &:focus
    text-decoration: none
  &__title
    font-size: 28px
    color #e0934f
    font-weight: 700
    line-height: 28px;
    MS()
    display: block
  &__subtitle
    display: block
    font-size: 12px
    color #627368
.i-share
  font-size: 12px
  color #40599b
  .svg-facebook
    width: 12px
    height: 12px
    margin-right: 2px;
    vam()
    fill #40599b
.i-read-more
  font-size: 14px
  color #007ed4
  padding-right: 18px
  border 0
  display: inline
  position: relative
  &:after
    v()
    right: 2px
    width: 5px
    height: 5px
    border-top 1px solid #007ed4
    border-left 1px solid #007ed4
    transform-origin: center
    transform rotate(-135deg)

@media screen and (max-width: 740px)
  .i-logo
    top: 1px
    &__title
      font-size: 22px
      line-height: 24px;
    &__subtitle
      font-size: 13px
  .i-read-more
    font-weight: 700
    font-size: 16px
    padding-right: 0
    &:after
      display: none
  .i-share
    font-size: 13px;
    .svg-facebook
      width: 14px;
      height: 14px;
      margin-right: 5px;
      position: relative;
      top: -1px;

@media screen and (max-width: 340px)
  .i-logo
    &__subtitle
      font-size: 12px
