.f-search
  border 1px solid #e3ded3
  border-radius: 4px
  background #fff
  padding: 20px
  display: flex
  margin-bottom: 20px
  box-shadow 0 1px 1px 0 rgba(#000,.2)
  &._check
    justify-content space-between
    align-items center
    .f-search__row+.f-search__row
      margin-left: 10px
    .f-search__submit
      border-radius: 3px
  &__field
    display: block
    width: 100%
    border 1px solid #e4e4e4
    background #f7f7f7
    height: 40px
    border-radius: 3px 0 0 3px
    padding 0 15px 0 39px
    border-right: 0
    color #333333
    outline none
    &::placeholder
      color #8c8c8c
  &__row
    position: relative
    &._grow1
      flex-grow 1
    &._shrink1
      flex-shrink 0
    &:first-child
      max-width: 46.3%;
  .svg-search
    z-index: 1
    width: 15px
    height: 15px
    position: absolute
    left: 13px
    fill #b7b7b7
    pointer-events none
    display: block
    top: 0
    bottom: 0
    margin auto 0
  &__submit
    width: 108px
    display: block
    background #25b75a
    text-align: center
    M()
    font-weight: 500
    color #fff
    font-size: 16px
    text-shadow 0 2px 0 #24964c
    border 0
    line-height: 40px
    height: 40px
    border-radius: 0 3px 3px 0
    box-shadow inset 0 -3px 0 0 #24964c
    tr()
    &:hover
      background rgba(#25b75a,.8)
      box-shadow inset 0 -1px 0 0 #24964c
  .ui-select-match
    display: block !important
    outline none
    box-shadow none
    .caret
      width: 7px
      height: 7px
      border-top 1px solid #000
      border-left 1px solid #000
      border-right 0
      transform-origin: center
      transform rotate(-135deg)
      margin-top: -5px;
      right: 17px;
  .form-control
    height: 40px
    border-radius: 0
    box-shadow none
    background #f7f7f7
    padding 9px 13px
    color #333333
    border-color #e4e4e4
  .ui-select-container
    outline none
  .dropdown-menu
    border-radius: 0
    border-color #e4e4e4
    background #f7f7f7
    padding: 0
  ._mobile-only
    display: none

@media screen and (max-width: 1024px)
  .f-search
    &._check
      flex-wrap wrap
      .f-search__row
        flex-basis 50%
        margin-bottom: 14px
        &:last-child
          flex-basis 100%
      .f-search__row+.f-search__row
        margin-left: auto
      .f-search__submit
        width: 100%
        max-width 360px
        margin 0 auto

@media screen and (max-width: 740px)
  .f-search
    border-left 0
    border-right 0
    border-radius: 0
    margin-bottom: 15px
    padding 21px 15px 13px
    &._check
      display: block
      justify-content space-between
      align-items center
      .f-search__row
        max-width 360px
        margin 0 auto 14px
      .f-search__row+.f-search__row
        margin-left: auto
      .f-search__submit
        width: 100%

@media screen and (max-width: 560px)
  .f-search
    display: block
    &__row
      max-width 360px
      margin 0 auto 14px
      &:first-child
        max-width: 360px
    &__field
      border-radius: 3px
      height: 44px
      border-right: 1px solid #e4e4e4;
    .form-control
      border-radius: 4px
      height: 44px;
      padding: 11px 13px;
    &__submit
      height: 44px
      line-height: 44px
      border-radius: 3px
      width 100%
      box-shadow none
      font-size: 18px
      position: relative;
      top: 6px;
    ._mobile-only
      display: block
    .btn
      font-size: 16px;
