<form class="f-search">

  <div class="f-search__row _grow1">
    <input type="text" class="f-search__field" placeholder="Search"/>
    <svg focusable="false" version="1.1" class="svg-search">
      <use xlink:href="#svg-search"></use>
    </svg>
  </div>

  <div class="f-search__row _grow1">
    <ui-select ng-model="vmsearch.category" theme="bootstrap" search-enabled="false" required="">
      <ui-select-match placeholder="Category" ng-show="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="category in vmsearch.categoryArr" position="down">
        <div ng-bind-html="category">{{category}}</div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="f-search__row _mobile-only">
    <ui-select ng-model="vmsearch.country" theme="bootstrap" search-enabled="false" required="">
      <ui-select-match placeholder="Choose Location" ng-show="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="country in vmsearch.countryArr" position="down">
        <div ng-bind-html="country">{{country}}</div>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="f-search__row _shrink0">
    <button class="f-search__submit">Search</button>
  </div>

</form>
